html {
    overscroll-behavior-y: contain;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body{
    background: white;
    text-align: center;
    vertical-align: middle;
    font-family: 'BeonRegular';
    font-weight: bold;
    font-style: bold; 
    overscroll-behavior-y: contain;
}

#grid-container {
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    background: rgba(1,1,1, 0.1);
    padding: 0% 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
#page-title {
    grid-column: 2;
    grid-row: 1;
    font-family: 'BeonRegular';
    font-weight: bold;
    font-style: bold; 
    font-size: 3em;
}


#left-aside{
    padding: 0;
    grid-row: 2;
    grid-column: 1;

    width: 150px;
    height: 450px;
    background: rgba(1,1,1, 0.2);
    border-radius: 10px 0 0 10px;
    z-index: -1;
}
#left-aside #hold-canvas{
    background: rgba(1,1,1, 0.2);
    margin: 12.5%;
    width: 75%;
    border-radius: 20px;
    border: 2px solid black;
}

#left-aside .scoreboard {
    text-align: left;
    list-style: none;
    margin-top: 0px;
    margin-left: 10px;
    padding-left: 5px;
    border-left: 2px solid black;
}

#left-aside .center{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#left-aside .right{
    float: right;
    display: block;
    margin-right: 10px;
    padding: 0;
}

#left-aside .scoreboard label{
    font-family: 'BeonRegular';
    font-weight: bold;
    font-style: bold;
    width: 50%;
    font-size: 0.75rem;   
}

#main-canvas {
    grid-row: 2;
    grid-column: 2;
    width: 10px;
    height: 20px;
    border: 3px double black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 90%;
    image-rendering: pixelated;
}

#right-aside{
    grid-row: 2;
    grid-column: 3;

    width: 150px;
    height: 450px;
    background: rgba(1,1,1, 0.2);
    border-radius: 0 10px 10px 0;
    z-index: -1;
}

#right-aside #next-canvas{
    background: rgba(1,1,1, 0.2);
    margin: 12.5%;
    width: 75%;
    border-radius: 20px;
    border: 2px solid black;
}